.abs-center {
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    background-color: rgb(250, 250, 250);
    border: #C3D730;
}

.form-movilidades {
    width: 750px !important;
}

.form-inst {
    width: 550px;
}

.form-conv-nac {
    width: 550px;
}

.form-conv-int {
    width: 550px;
}

.btn_1 {
    background-color: #C3D730;
    border: #C3D730;
    color: white;
}

.btn_1:hover,
.btn_1:focus,
.btn_1:active,
.btn_1.active,
.open .dropdown-toggle.btn_1 {
    background-color: #C3D730;
    border: #C3D730;
    color: white;
}

.btn_2 {
    background-color: #dc3545;
    color: white;
}

.btn_2:hover,
.btn_2:focus,
.btn_2:active,
.btn_2.active,
.open .dropdown-toggle.btn_2 {
    background-color: #dc3545;
    color: white;
}

.titles {
    background: #A1CB21;
    color: #fff;
}

.ulfiles {
    list-style-type: none;
}

/* Estilos del preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* Color de fondo mientras carga */
    z-index: 9999; /* Asegura que esté encima de todo el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3; /* Gris claro */
    border-top: 16px solid #A1CB21;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
